@import url("//hello.myfonts.net/count/3b54d4");
  
@font-face {
  src: url('../webFonts/TradeGothicLTStd-Extended/font.eot');
  font-family: 'TradeGothicLTStd-Extended';
  src: url('../webFonts/TradeGothicLTStd-Extended/font.woff2') format('woff2'), url('../webFonts/TradeGothicLTStd-Extended/font.woff') format('woff'), url('../webFonts/TradeGothicLTStd-Extended/font.eot?#iefix') format('embedded-opentype'), url('../webFonts/TradeGothicLTStd-Extended/font.ttf') format('truetype');
}

footer {
  display: none;
}

body {
  font: 12px/1.5 Verdana, "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #1A0F02;
  color: #DDDED0;
  padding: 2.5em;
}

p, ul, ol, table, pre, dl {
  margin: 0 0 1em;
}

nav { 
  display: none; 
}

#navbar { 
  display: none; 
}

#n ul { 
  display: none; 
}

pre {
  padding: 1em;
  background-color: #DDDED0;
  border: 1px solid #DDDED0;
  border-radius: 0;
}

pre, code {
  color: #1A0F02;
}

h1 {
  font-size: 1.7em;
}

h1, h2, h3 {
  color: #ABA235;
}

h2 {
  font-size: 1.2em;
}

h2 a {
  color: #c1a045;
}

h2 a:hover {
  color: #a84009;
}

h2, h3 {
  font-family: "TradeGothicLTStd-Extended";
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}

h2.headline:before {
  content: url('../images/bullet_post.png');
  margin-right: 0.5em;
}

h2.headline:not(:first-child) {
    margin-top: 2em;
}

h1 a:hover {
  font-weight: bold;
}

p.view {
  display: none;
}

a {
  color: #5da8ba;
}

a:hover {
  font-weight: normal;
  color: #5da8ba;
}

[alt=Logo] {
  border-radius: 50%;
}

.box {
  background-color: #2b1d00;
  padding: 1em;
}

.orange {
  color: #ac4209;
}

.red {
  color: #9f2d08;
}

strong {
  color: #738D3A;
}

@media print, screen and (max-width: 960px) {
  body {
    padding: 1em;
  }
  
  section {
    border: 0px;
    padding: 0.5em 0 0 0;
    margin: 0;
  }
  
  header {
    text-align: center;
    padding-right: 0em;
  }
  
  #description {
    display: none;
  }
  
  #linkedin {
    display: none;
  }
  
  #menu {
    display: none; 
  }

	nav {
		display: block;
		height: 200px;
	}
	
	#navbar { 
		display: block; 
		height: 44px;
		width: 100%;
		background: #FFFFFF;
		margin: 0 15px 0 15px;
		border-bottom-width: 1px;
		border-bottom-style: solid;
		border-bottom-color: #DDD;
		text-align: center;
	}
	
	p.center {
		margin-top: 0px !important;
	}
	
	#navbar a { 
		display: block; 
		line-height: 44px; 
		color: #149a55; 
		text-align: center;
		text-transform: uppercase;
	}
	
	#n ul { 
		display: block; #
		background: #FFFFFF; 
		border: 0;
		margin: 0 15px 0 15px;
		height: auto;  
		padding: 10px 0 10px 0;
		overflow: hidden; 
		border-bottom: 1px solid #DDD;
	}
	
	#nav {
		display: block; #
	}
		
	#n ul li ul { 
		display: block; 
		position: static; 
		border: 0; 
	}
	
	#n ul li ul li { 
		margin-left: 22px; 
		width: auto; 
	}
	
	#n ul li { 
		border: 0; 
		width: 100%; 
		padding: 7px 0;
		border: 0; 
		text-align: center;
	}
	
	#n ul li a, #n ul li ul li a { 
		display: block;
		text-align: center;
		text-shadow: none; 
		width: 100%; 
		margin: 0; 
	}
	
	#n ul li ul li a { 
		border: 0; 
	}
}
