@font-face {
font-family: 'Trade Gothic LT Std Regular';
font-style: normal;
font-weight: normal;
src: local('Trade Gothic LT Std Regular'), url('../fonts/trade-gothic-lt-std-58a78e64434a9.woff') format('woff');
}


@font-face {
font-family: 'Trade Gothic LT Std Bold Condensed No. 20';
font-style: normal;
font-weight: normal;
src: local('Trade Gothic LT Std Bold Condensed No. 20'), url('../fonts/trade-gothic-lt-std-bold-condensed-no-20-5872def1d27d8.woff') format('woff');
}

footer {
  display: none;
}

body {
  font: 12px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #1A0F02;
}

h1 {
  font-size: 1.7em;
}

h1, h2, h3 {
  color: #942c2b;
}

h1 a:hover {
  font-weight: bold;
}

p.view {
  display: none;
}

a {
  color: #5da8ba;
}

a:hover {
  font-weight: normal;
  color: #5da8ba;
}

[alt=Logo] {
  border-radius: 50%;
}
