footer {
  display: none;
}

body {
  font: 12px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #0e0700 url(../images/bg.gif) repeat
}

h1 {
  font-size: 1.7em;
}

h1, h2, h3 {
  color: #942c2b;
}

h1 a:hover {
  font-weight: bold;
}

p.view {
  display: none;
}

a {
  color: #5da8ba;
}

a:hover {
  font-weight: normal;
  color: #5da8ba;
}

[alt=Logo] {
  border-radius: 50%;
}
