<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <title>Austin Poole</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}
    
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="/css/style.css">
	  
    <script type="text/javascript" src="/js/jquery.min.js" style="user-select: auto;"></script>
    <script type="text/javascript" src="/js/script.js" style="user-select: auto;"></script>
	  
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
	  
    <link rel="alternate" type="application/rss+xml" title="Austin Poole" href="{{ site.baseurl }}/feed.xml" />
  </head>
  <body>
    <div class="wrapper">
      <header>
	      <div id="navbar" style="user-select: auto;">
			<h2><a href="#" style="user-select: auto;">Menu</a></h2>
		</div>
	<nav id="n" style="user-select: auto;">
			<div id="mobimenu" style="user-select: auto;">
				<ul style="user-select: auto; display: none;">
					<li style="user-select: auto;">
						<a href="/" style="user-select: auto;">	
							About Me	
						</a>
					</li>
					<li style="user-select: auto;">
						<a href="/work" style="user-select: auto;">
							Portfolio
						</a>
					</li>
					<li style="user-select: auto;">
						<a href="/contact" style="user-select: auto;">
							Contact
						</a>
					</li>
				</ul>
			</div>
		</nav>
        <h1 id="ap"><a href="{{ "/" | absolute_url }}">{{ site.title }}</a></h2>
        
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p><span id="description">{{ site.description | default: site.github.project_tagline }}</span>
	      
	<h2 style="margin: 1em 0 1em 0; letter-spacing: -0.1px;" id="menu"><a href="/">About</a> &nbsp;<img src="images/bullet_post.png" alt="Bullet Post" />&nbsp; <a href="/work">Work</a> &nbsp;<img src="images/bullet_post.png" alt="Bullet Post" />&nbsp; <a href="/contact">Contact</a></h2>
        <a href="http://www.linkedin.com/in/austinpoole/" id="linkedin" target="_blank">View My LinkedIn Profile</a></p>

        {% if site.github.is_project_page %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
        {% endif %}

        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
        {% endif %}
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% include analytics.html %}
  </body>
</html>
